---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hello!!!">
  <div class="container-lg">
    <h1>Hello {1 + 1}</h1>
  </div>
</Layout>

<!-- style use in this file  -->
<style></style>
